<!DOCTYPE html>
<html>
<head>
  <title>Ldj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<%= link_to "London Design Jobs", root_path %>
		<%= link_to "Submit a job", new_user_job_path(current_user.id) %>
		<%= link_to "Log in", new_session_path %>
		<%= link_to "Log out", session_path, method: :delete  %>
	</nav>
</header>


<% flash.each do |key, value| %>
	<div class="<% key %>">
		<p><%= value %></p>
	</div>
<% end %>

<%= yield %>

</body>
</html>
